<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav for mobile layout -->
  <mat-sidenav #drawer mode="over" class="sidenav" (openedChange)="onSidenavToggle($event)">
    <mat-nav-list>
      <div *ngFor="let route of routerLinkList; let index = index">
        <mat-list-item (click)="drawer.toggle()" (click)="selectRoute(route, index)" class="list-item" [class]="{'selected': selectedRoute === index}">{{route.name}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Toolbar for the top of the app -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ selectedRoute == -1 ? welcomeMessage : cityName }}</span>
      <span class="example-spacer"></span>
        <button mat-icon-button (click)="gotoHome()" class="float-end">
          <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>


    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="d-flex justify-content-around mt-3">
  <button mat-raised-button (click)="openBottomSheet()" color="primary">Take Action</button>
  <button mat-raised-button (click)="clearMaterials()" color="accent">Clear</button>
</div>
