<div class="row">
  <div class="col-12">
    <span class="h5 d-flex justify-content-around">Selected Materials</span>
    <div class="mt-2">
      <button mat-icon-button (click)="removeChip(index)" class="mx-2 my-2 icon-button" *ngFor="let material of selectedItemNameList;let index = index;">
        <mat-icon class="image-icon">
          <img [src]="material.imgUrl" alt="Icon" width="50px" height="50px">
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider class="mb-1"></mat-divider>
<div class="row">
  <div class="col-12">
    <span class="h5 d-flex justify-content-around">Frequenty Used Materials</span>
    <div class="mt-2">
      <button mat-icon-button (click)="addChipToSelection(material)" class="mx-2 my-2 icon-button" *ngFor="let material of frequentMaterialList; let index = index;">
        <mat-icon class="image-icon">
          <img [src]="material.imgUrl" alt="Icon" width="50px" height="50px">
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider class="mb-1"></mat-divider>
<div class="row">
  <div class="col-12">
    <span class="h5 d-flex justify-content-around">Materials</span>
    <div class="container my-material-container overflow-auto mt-2">
      <ng-container *ngFor="let building of cityData.materialList" >
        <ng-container *ngFor="let material of building.materialList let index = index;">
          <button mat-icon-button (click)="addChipToSelection(material.materialInfo)" class="mx-2 my-2 icon-button">
            <mat-icon class="image-icon">
              <img [src]="getImageUrl(material.materialInfo)" alt="Icon" width="50px" height="50px">
            </mat-icon>
          </button>
        </ng-container>
        <mat-divider class="mb-1"></mat-divider>
      </ng-container>
    </div>
  </div>
</div>
