<div class="row">
  <div class="col-12">
    <div class="mt-2">
      <button mat-icon-button (click)="removeChip(index)" class="mx-2 my-1 icon-button" *ngFor="let material of selectedItemNameList;let index = index;">
        <mat-icon class="image-icon">
          <img [src]="material.imgUrl" alt="Icon" width="50px" height="50px">
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider class="mb-1"></mat-divider>
<div class="row">
  <div class="col-12">
    <div class="mt-2">
      <button mat-icon-button (click)="addChipToSelection(material)" class="mx-2 my-1 icon-button" *ngFor="let material of frequentMaterialList; let index = index;">
        <mat-icon class="image-icon">
          <img [src]="material.imgUrl" alt="Icon" width="50px" height="50px">
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<mat-divider class="mb-1"></mat-divider>
<div class="row">
  <div class="col-12">
    <div class="container my-material-container overflow-auto mt-2">
      <ng-container *ngFor="let building of cityData.materialList" >
        <ng-container *ngFor="let material of building.materialList let index = index;">
          <button mat-icon-button (click)="addChipToSelection(material.materialInfo)" class="mx-2 my-1 icon-button">
            <mat-icon class="image-icon">
              <img [src]="getImageUrl(material.materialInfo)" alt="Icon" width="50px" height="50px">
            </mat-icon>
          </button>
        </ng-container>
        <mat-divider class="mb-1"></mat-divider>
      </ng-container>
    </div>
  </div>
</div>

<button mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floating-button">
  <mat-icon>add</mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="above" xPosition="before">
  <button mat-raised-button color="primary" (click)="performAction(action)" *ngFor="let action of actionsValues;let index = index;" class="mb-4 d-flex justify-content-around">{{action.title}}</button>
</mat-menu>
